body {
    margin: 0;
    background: pink;
    text-align: center;

}

.introtext {
    font-size: large;
  }

.sourcecodetext {
    position: absolute;
    bottom: 25px;
    left: 25px;
}
.header {
    margin-top: 25px
}

.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 250px;
  height: 225px;
}
