body {
    margin: 0;
    background: pink;
    text-align: center;

}

.introtext {
    font-size: 35px;
  }

.linktext {
    outline-color: black;
    outline-style: groove;
}
.sourcecodetext {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-size: 30px;
}
.header {
    margin-top: 25px;
}

.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 250px;
  height: 225px;
}

.aboutme {
    padding: 15px;
    position: absolute;
    top: 500px;
    left: 25px:
    
  
}
